<!DOCTYPE html>
<html lang="en">
<head>
  <title>Decision Maker - Create Poll</title>
  <%- include('partials/_header') %>
</head>
<body>
  <header>
    <div id="home-logo"><a href="/"><img src="/images/arrows.png" alt="Arrows picture" id="logo-pic"/></a></div>
    <div id="logo"><a class="nodecor" href="/">Pollarizing</a></div>
  </header>
  <main class="container">
    <section class="poll-section">
      <form class="poll-form" method="POST" action="/create">
<!-- Poll question-->
        <div class="poll-question">
          <label for="question" class="form-label"><p class="l">Title</p></label>
          <input type="text" class="form-control" id="question" name="title" placeholder="Enter your question here">
        </div>
<!-- Poll option 1-->
        <div class="poll-options">
          <div class="poll-set">
            <div class="poll-option">
              <label for="option" class="form-label"><p class="l">Poll options</p></label>
              <input type="text" class="form-control" id="option" name="choice" placeholder="Option 1" required>
            </div>
            <div class="poll-description">
              <label for="description" class="form-label"><p class="l">Description</p></label>
              <input type="text" class="form-control" id="description" name="choicedescription" placeholder="Optional comment">
            </div>
          </div>
<!-- Poll option 2-->
          <div class="poll-set">
            <div class="poll-option">
              <input type="text" class="form-control" id="option" name="choice" placeholder="Option 2" required>
            </div>
            <div class="poll-description">
              <input type="text" class="form-control" id="description" name="choicedescription" placeholder="Optional comment">
            </div>
          </div>
<!-- Poll option 3 -->
          <div class="poll-set">
            <div class="poll-option">
              <input type="text" class="form-control" id="option" name="choice" placeholder="Option 3">
            </div>
            <div class="poll-description">
              <input type="text" class="form-control" id="description" name="choicedescription" placeholder="Optional comment">
            </div>
          </div>
        </div>
<!-- Button to add option -->
          <button type="button" class="add-option-button" id="createOption">Add option</button>
<!-- Enter creator email -->
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
          <label for="email" class="email">Enter your email address</label>
        </div>
<!-- Enter creator name -->
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="name" name="name" placeholder=" ">
          <label for="name" class="emails">Enter your name</label>
        </div>
<!-- Button to submit -->
          <button type="submit" class="submit-button">Create poll</button>
      </form>
    </section>
  </main>
  <%- include('partials/_footer') %>
</body>
</html>
