<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pollarizing</title>
  <%- include('partials/_header') %>
</head>
<body>
  <main class="container">
    <section class="title">
      <div id="home-logo"><img src="/images/arrows.png" alt="Arrows picture" id="logo-pic-l"/></div>
      <div id="home-title">Pollarizing</div>
      <div id="app-description"><p>If you or someone you love struggles with making quick and effective decisions, we have the perfect app for you. Simply click the below link to create polls based on the predicament you find yourself in, including all possible options. You can then send links to friends, family members, and acquaintances so they can vote on options and take the burden of decision-making off your shoulders. An admin link will be provided to the creator to keep track of results and receive updates when a submission has been made.
        <br>Thank you for trying our app, and we hope it helps you make the right decision!</p></div>
      <a href="/create"><button type="button" class="create-button">Create poll</button></a>
    </section>
  </main>
  <%- include('partials/_footer') %>
</body>

</html>
