<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pollarizing</title>
  <%- include('partials/_head') %>
</head>
<body>
  <main class="container">
    <section class="title">
      <div id="home-logo"><img src="/images/logo.png" alt="Pollarizing" id="logo-pic-l"/></div>
      <div id="app-description"><p>If you or someone you love struggles with making quick and effective decisions, we have the perfect app for you!</p>
        <p>Simply click the below link to create polls based on the predicament you find yourself in. You can then send links to friends, family members, and acquaintances so they can vote and take the burden of decision-making off your shoulders.</p>
        <p>A link will be provided to keep track of results and you will receive updates when a new submission has been made.</p>
        <p>Thank you for trying our app, and we hope it helps you make the right decision!</p>
      </div>
      <a href="/create"><button type="button" class="btn btn-light">Create poll</button></a>
    </section>
  </main>
  <%- include('partials/_footer') %>
</body>
</html>
