<!DOCTYPE html>
<html lang="en">
<head>
  <title>Decision Maker</title>
  <%- include('partials/_header') %>
</head>
<body>
  <main class="container">
    <section class="title">
      <div id="home-logo"><img src="images/arrows.png" alt="Arrows picture" id="logo-pic-l"/></div>
      <div id="home-title">Decision Maker</div>
      <div id="app-description"><p> This application allows you to create poll quickly. You will send a link on created poll to your friends and will be notified after voting finished. You can send the vote result to your friends as well.
        <br>The interface is simple and intuitive.</p></div>
      <a href="/create"><button type="button" class="create-button">Create poll</button></a>
    </section>
  </main>
  <%- include('partials/_footer') %>
</body>

</html>
