@import 'main.scss';

.title{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  margin: 10%;
  border-radius: 10px;
  background: $color-form-one;
  color: $color-font-main;
  padding:30px 0;
}

#logo-pic-l{
  width: 100px;
  height: 100px;
}

#home-title{
  width:100%;
  text-align: center;
  font-size: 4em;
  font-family: $font-title;
}

#app-description {
  text-align: justify;
  padding: 20px 160px;
}

.create-button {
  height: 30px;
  width: 180px;
  margin: 10px;
  border-radius: 7px;
  background-color: $color-form-two;
  color: $color-bg;
  border-color: $color-bg;
  border-style: solid;
}

.create-button:hover {
  background-color: $color-btn;
  border-color: white;
  border-style: solid;
  color: $color-font-main;
}

.create-button:active {
  background-color:rgb(34, 37, 70);
  color: $color-font-main;
  transform: translateY(4px);
}
