
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100hv;


  background: darkgrey;
}

header{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
  width:100%;
  margin: 0;
  padding-left: 5%;

}
#logo{
  width:100%;
  margin-left: 1em;
  text-align: left;
  font-weight: bold;
  font-size: 2em;
}

.container, .poll-sectoion {
  width:100%;
}

.poll-form{
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: auto;
  margin: 0 15%;
  padding: 5px;
  text-align: center;
  border: solid grey 3px;
  border-radius: 10px;
  background: darkgrey;
}

.mb-3, .form-floating mb-3 {
  margin: 0 10px;
}


.add-option-button, .submit-button {
  margin: 0 0 15px;
  height: 30px;
  width: 180px;
  border-radius: 5px;
  background-color: grey;
  color: white;
}

.add-option-button:hover, .submit-button:hover {
  background-color: green;
}

.add-option-button:active, .submit-button:active {
  background-color:#3ad517;
  color: black;
  transform: translateY(4px);
}
