
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100hv;


  background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 0%,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );
}

header{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  width:100%;
  margin: 0;

}
#logo{
  width:100%;
  margin-left: 5em;
  text-align: left;
}

.container {
  width:100%;
}

.poll-sectoion {
  width:100%;
}

.poll-form{
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 15%;
  text-align: center;
}


#question, #description, #poll-option1, #poll-option2, #email, #emails {
  width:100%;
  height:2rem;
  margin: 2px 0 10px;
}

.add-option-button {
  margin: 10px 0 30px;
}

.submit-button {margin: 10px 0 50px;
}
