$color-bg: rgb(34, 37, 70);
$color-form-one: rgb(71, 72, 102);
$color-form-two:rgb(209, 210, 214);
$color-btn:rgb(41, 101, 138);
$color-font-main: white;

$font-title: 'Righteous', cursive;
$font-main: 'Amaranth', sans-serif;

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100hv;
  background: $color-bg !important;
  font-family: $font-main !important;
}

header{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
  width:100%;
  margin: 0;
  padding-left: 5%;

}
#logo{
  width:100%;
  margin-left: 1px;
  text-align: left;
  font-size: 2.3em;
  font-family: $font-title;
  color: $color-font-main;
}

.container, .poll-sectoion {
  width:100%;
}

.poll-form{
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: auto;
  margin: 0 10%;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  background: $color-form-one;
  color: $color-font-main;
}

.poll-question {
  margin: 10px 15px;
}

.poll-set {
  display: flex;
  flex-direction: row;
  margin: 10px 15px;
}

.poll-option{
  width:100%;
  margin: 0 10px 10px 0;
}

.poll-description{
  width:75%;
}

.mb-3 {
  margin: 0 15px;
  color: $color-bg;
}

.email, .emails {
  color: $color-bg;
}

.add-option-button, .submit-button {
  margin: 0 0 15px;
  height: 30px;
  width: 180px;
  border-radius: 7px;
  background-color: $color-form-two;
  color:$color-bg;
  border-color: $color-bg;
  border-style: solid;
}

.add-option-button:hover, .submit-button:hover {
  background-color: $color-btn;
  border-color: white;
  border-style: solid;
  color: $color-font-main;
}

.add-option-button:active, .submit-button:active {
  background-color:$color-bg;
  color: $color-font-main;
  transform: translateY(4px);
}
