@import 'main.scss';

.vote-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: auto;
  margin: 0 10%;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  background: $color-form-two;
  color:$color-bg;
}

.vote-question {
  margin: 10px 15px;
}

.vote-set {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  margin: 0 15px 10px;
}

#optionsList {
  width: 84%;
  padding: 0 16%;

}

.list-group-item {
  width: 100%;
  min-height: 40px;
  border-radius: 5px;
  background-color: $color-bg !important;
  color: $color-font-main !important;
  margin: 5px 0;
  padding: 5px;
  font-size: large;
  font-weight: 700;

}

/*.vote-option {
  width: 100%;
  min-height: 40px;
  border-radius: 15px;
  background-color: rgb(34, 37, 70, 0.7);
  display: inline-block;
  text-align: center;
  color: $color-font-main;
  margin: 15px 0;
  padding: 5px;
  cursor: move; /*related to drag and drop functionality
}*/

.vote-option:hover {
  background-color: $color-bg;
}

.mb-4 {
  width:30%;
  min-width: 150px;
  margin: 0 15px;
  color: $color-bg;
}
